@tailwind base;
@tailwind components;
@tailwind utilities;


.roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }